/* Default background color for all pages */
header, footer, aside, nav, main {
	background-color: #031536;
}

/* Default styles for headings and paragraphs */
h1, h2, h3, h4, h5, h6 {
	font-family: Arial, sans-serif;
	color: #0812ce;
}

p {
	font-size: 1em;
	line-height: 1.5em;
    color: #100320;
}

/* Pseudo-styles for links */
a:link {
	color: #0072c6;
	text-decoration: none;
}

a:visited {
	color: #7f8c8d;
}

a:hover {
	color: #e67e22;
}

/* Styles for class */
.images {
	background-color: #828cff;
	color: #fff;
	padding: 10px;
	margin: 5px;
}

.questions p{
    color: #FFFDD0;
}

/* Unique styles */
header {
	padding: 20px;
	border-bottom: 1px solid #ddd;
}

main {
	display: flex;
}

aside {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 20px;
	flex-basis: 25%;
	margin-left: 20px;
}

section {
	background-color: #fff;
	padding: 15px;
	flex-basis: 70%;
}

h2 {
	color: #0812ce;
	text-transform: uppercase;
}

/* Embedded style for ID */
#featured-item {
	background-color: #3498db;
	color: #fff;
	padding: 10px;
	margin: 5px;
}

.my-header h1{
    color: #0812ce;
}

/* Style for table */
table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	text-align: left;
	padding: 8px;
}

th {
	background-color: #0072c6;
	color: #fff;
}

td {
	border-bottom: 1px solid #ddd;
}

/* Style for form */
form {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"], select, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }